$background: #e0dede;
$color-blue: #4d4dff;
$red-error: #e45252;

.form-wrapper {
    height: 100vh;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background;
}

.form {
    background-color: #fff;
    width: 300px;
    min-width: 250px;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(#000000, 0.3);
    font-family: sans-serif;
    color: darken($background, 40);
}

.form__title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    text-transform: capitalize;
    margin-bottom: 2rem;
}

.form__group {
    position: relative;
    margin-bottom: 2rem;
}

.form__group:last-child {
    margin-bottom: 1rem;
}

.form__label {
    position: absolute;
    bottom: 20%;
    left: 0;
    font-family: sans-serif;
    font-size: 1.2rem;
    transition: all 0.3s;
}

.form__input {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 2px solid darken($background, 40);
    padding: 1rem 0 0.5rem;
}

.form__input:focus+label,
.form__label.active {
    transform: translateY(-100%);
    font-size: 1rem;
}

.form__button {
    display: block;
    width: 100%;
    padding: 0.7rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1rem;
    color: #fff;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: $color-blue;
    transition: background-color .3s;
}

.form__button:hover {
    background-color: darken($color-blue, 15);
}

.flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.error {
    display: inline-block;
    font-size: 1rem;
    letter-spacing: .1rem;
    color: $red-error;
    margin-bottom: 1rem;
}
